@media(max-width: 500px) 
{
  body
  {
    width: 100%;
  }
}


#overlay{
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}
header{
    
    background-image: url(https://wallpaperaccess.com/full/1523688.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-around;
   position: relative;
   z-index: -1;
}

 nav {
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  padding: 20px;
  

}      
#links {
  
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-family: 'Lora', serif;
  text-transform: uppercase;
}
#links a{
  cursor: pointer;
  padding: 20px 20px;
  border: 3px solid brown;
  border-radius: 50%;
  letter-spacing: 2px;
  text-decoration: none;
  
}
#links a:hover{
  background-color: white;
  color: blue;
}

#titolo{
  width: 780px;
}

 header h1{
    color: rgba(1, 250, 233, 0.795);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
 }
 body{
  margin: 0;
  font-family: 'Lora',serif;
  background-color: rgba(222, 184, 135, 0.789);
 }
 footer{
  padding: 75px;
  background-color: black;
  text-align: center;
 }
 footer address{
  color: aliceblue;
 }
 footer p{
  color: aliceblue;
 }